{
  "plugins": [
    ["module-resolver", 
       {
         "root": ["/"],
         "extensions": [".js"],
         "cwd":"babelrc",
         "alias": {
           "@":"./src/assets"
         }
      }
    ]
  ]
}